@charset "utf-8";

// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

$panel-heading-radius: none;
$panel-heading-size: 1em;
$panel-heading-weight: 500;

$control-radius: none;

//// Update Bulma's global variables
//$family-sans-serif: "Nunito", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
//$widescreen-enabled: false;
//$fullhd-enabled: false;
//
//// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";
