@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css");

@mixin control-label-size {
    font-size: 14px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 10.5px;
    margin-bottom: 15px;
}

label, .control-label, .checkbox, .radio {
    @include control-label-size;
    font-weight: 500;
}

.help-block {
    @include control-label-size;
}

.alert {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
        margin: 0
    }
}


