// Bulma Initialization
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Bulma variable overrides
$card-background-color: $grey-darker;
$card-color: $grey-lighter;
$label-weight: 500;
$panel-item-border: 0;

// Bulma import
@import "../../node_modules/bulma/bulma";

// Bulma styles override
.panel-heading > span > h1 {
  margin: 0
}

.code-panel {
  .panel-block, .panel-heading {
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
  }
  .panel-heading:first-child, .panel-tabs:first-child, .panel-block:first-child {
    border-top: 1px solid rgb(219, 219, 219);
  }
}

.tabs:not(:last-child) {
  margin-bottom: 0;
}

.breadcrumb span {
  padding: 0 0.75em;
}

.breadcrumb li:first-child span {
  padding-left: 0;
}

.breadcrumb:not(:last-child) {
  margin-bottom: 0
}