@import 'mixins.scss';
@import 'margins.scss';

body,
html {
  @include full-height;
  @include margin(0px);
}

#react-form-engine {
  @include full-height;
}

.full-height {
  @include full-height;
}

.full-width {
  @include full-width;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.github-buttons {
  margin-top: 10px;
  justify-content: center;
  display: flex;
  div {
    margin: 5px;
  }
}

ol.field-list {
  width: 100%;
  list-style-type: none;
}

ol.field-list > li {
  margin-bottom: 1em;
  padding-left: .75em;
  border-left: 1px solid #3273dc;
}

ol.child-list {
  width: 100%;
  list-style-type: none;
}

ol.child-list > li {
  padding: .25em .75em;
  border-left: 1px solid #dbdbdb;
}

ol.child-list > li:first-child {
  margin: .25em 0 0 0;
}

ol.child-list > li:last-child {
  padding-bottom: 0;
}

pre {
  font-size: .95em;
  counter-reset: line-numbering;
  font-family: "Ubuntu Mono", Menlo, Monaco, monospace;
  padding: 5px;
  color: #757575;
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre .line::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  /* space after numbers */
  width: 1.5em;
  text-align: right;
  font-weight: 500;
  color: #3273dc;
}