.m-top--x-small {
    margin-top: 0.5rem;
}
.m-right--x-small {
    margin-right: 0.5rem;
}
.m-bottom--x-small {
    margin-bottom: 0.5rem;
}
.m-left--x-small {
    margin-left: 0.5rem;
}
.m-around--x-small {
    margin: 0.5rem;
}
.m-top--xxx-small {
    margin-top: 0.125rem;
}
.m-right--xxx-small {
    margin-right: 0.125rem;
}
.m-bottom--xxx-small {
    margin-bottom: 0.125rem;
}
.m-left--xxx-small {
    margin-left: 0.125rem;
}
.m-around--xxx-small {
    margin: 0.125rem;
}
.m-top--xx-small {
    margin-top: 0.25rem;
}
.m-right--xx-small {
    margin-right: 0.25rem;
}
.m-bottom--xx-small {
    margin-bottom: 0.25rem;
}
.m-left--xx-small {
    margin-left: 0.25rem;
}
.m-around--xx-small {
    margin: 0.25rem;
}
.m-top--small {
    margin-top: 0.75rem;
}
.m-right--small {
    margin-right: 0.75rem;
}
.m-bottom--small {
    margin-bottom: 0.75rem;
}
.m-left--small {
    margin-left: 0.75rem;
}
.m-around--small {
    margin: 0.75rem;
}
.m-top--medium {
    margin-top: 1rem;
}
.m-right--medium {
    margin-right: 1rem;
}
.m-bottom--medium {
    margin-bottom: 1rem;
}
.m-left--medium {
    margin-left: 1rem;
}
.m-around--medium {
    margin: 1rem;
}
.m-top--none {
    margin-top: 0 !important;
}
.m-right--none {
    margin-right: 0 !important;
}
.m-bottom--none {
    margin-bottom: 0 !important;
}
.m-left--none {
    margin-left: 0 !important;
}
.m-around--none {
    margin: 0;
}
.m-top--x-large {
    margin-top: 2rem;
}
.m-right--x-large {
    margin-right: 2rem;
}
.m-bottom--x-large {
    margin-bottom: 2rem;
}
.m-left--x-large {
    margin-left: 2rem;
}
.m-around--x-large {
    margin: 2rem;
}
.m-top--xx-large {
    margin-top: 3rem;
}
.m-right--xx-large {
    margin-right: 3rem;
}
.m-bottom--xx-large {
    margin-bottom: 3rem;
}
.m-left--xx-large {
    margin-left: 3rem;
}
.m-around--xx-large {
    margin: 3rem;
}
.m-top--large {
    margin-top: 1.5rem;
}
.m-right--large {
    margin-right: 1.5rem;
}
.m-bottom--large {
    margin-bottom: 1.5rem;
}
.m-left--large {
    margin-left: 1.5rem;
}
.m-around--large {
    margin: 1.5rem;
}
.m-bottom--none {
    margin-bottom: 0;
}

.m-vertical--x-small {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.m-horizontal--x-small {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.m-vertical--xxx-small {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}
.m-horizontal--xxx-small {
    margin-right: 0.125rem;
    margin-left: 0.125rem;
}
.m-vertical--xx-small {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.m-horizontal--xx-small {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}
.m-vertical--small {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.m-horizontal--small {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
.m-vertical--medium {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.m-horizontal--medium {
    margin-right: 1rem;
    margin-left: 1rem;
}
.m-vertical--none {
    margin-top: 0;
    margin-bottom: 0;
}
.m-horizontal--none {
    margin-right: 0;
    margin-left: 0;
}
.m-vertical--x-large {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.m-horizontal--x-large {
    margin-right: 2rem;
    margin-left: 2rem;
}
.m-vertical--xx-large {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.m-horizontal--xx-large {
    margin-right: 3rem;
    margin-left: 3rem;
}
.m-vertical--large {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.m-horizontal--large {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.m-vertical--card-wrapper-spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.m-horizontal--card-wrapper-spacing {
    margin-right: 1rem;
    margin-left: 1rem;
}
.m-vertical--table-cell-spacing {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.m-horizontal--table-cell-spacing {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}