// Normalize CSS
@import '../../node_modules/normalize.css/normalize.css';

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

// Bulma style overrides
@import 'bulma-override.scss';

@mixin height($height) {
  height: $height;
}

@mixin width($width) {
  width: $width;
}

@mixin full-height {
  @include height(100%);
}

@mixin full-width {
  @include width(100%);
}

@mixin margin($margin) {
  margin: $margin;
}
